#textBox, #logo, .button {
    display: flex;
    flex-shrink: inherit;

    margin: auto;
}

#textBox {
    height: 30px;
    width: 450px;
    border-radius: 80px;
    border-style: solid;
    border-color: whitesmoke;
}

#textBox:hover {
    border-style: groove;
}

#logo{
    padding: 50px;
}

.button {
    float: left;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    border: hidden;
}

.button:hover{
    border-width: 1px;
    border: solid;
    border-color: lightgrey;
}

#text{
    color: black;
    text-decoration: none;
    position: fixed;
    top: 0;
    font-size: small;
    right: 5px;
}

#text:hover{
    text-decoration: underline;
}

